body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(to right, rgb(50, 78, 168), rgb(62, 50, 168))
}


.container{
    background-color: rgb(213, 231, 240);
    border-radius: 8px;
    box-shadow: 0px 0px 20px black;
    padding: 30px;
    width: 510px;
}

#logintext{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    color:rgb(23, 50, 138);
}

#username,
#password{
    width: 100%;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

#username:focus,
#password:focus{
    outline: none;
    box-shadow: 0 0 8px rgb(23, 50, 138);
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}


#loginbutton{
    font-size: 30px;
    color:rgb(50, 78, 168);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    width: 40%;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

#loginbutton:hover{
    outline: none;
    box-shadow: 0px 0px 8px rgb(23, 50, 138);
}

#wrongcredentialstext{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    color: rgb(181, 40, 56);
}
